body {
    background-color:greenyellow;
}
h3{
font-family: 'Passions Conflict', cursive;
font-weight: normals;
}
h1{
    font-family: 'Bungee Spice', cursive;
    font-style:bold;
    font-variant :small-caps
}
h3{
    font-size: 50px;
}
h3{
    color: green;
}
    .list-1{
        font-size: 25px;
    }
    .number-1{
        background-color: blueviolet;
    }
    .number-1{
        font-size: 25px;
    }
    #PREVAILER{
        font-size: 25px;
    }
    p{
        font-weight: bolder;
        font-variant: small-caps;
    }
    .one{
        color:blueviolet;
    }
    .pure{
        color: blue;
    }
    .shadow{
        text-shadow: 10px 15px 5 px red;
    }
    a {text-decoration:none ;
        text-transform: uppercase;
        text-indent: 100px;
        color: red;
    }
    .one{
        color:red;
    }
  
   
  a{
text-decoration: solid;
text-transform: uppercase;
color: blue;
background-color: darkgreen;
font-size: 30px;
  }  
  a:visited{
    color: indigo;
    text-shadow: 10px  10px  black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
  }
  a:active{
    text-transform: capitalize;
  }
  /* creating tables */
  table{
    width: 100%;
    border-collapse: separate;
  }
  table, th, td{borde:2px solid rgb(14, 85, 237,0.5)}
  thead{
    background-color: darkorange;
    color: #fff;
    color:rgba(14, 85, 237)
  }
  th{
    text-align: center;
  }
tbody tr:nth-child(odd){
    background: #ffffff;
}
.image-1{
    width:100px;
    height: 100px;
    border-radius:50%;
    margin-top: 30px;
    margin-bottom: 40px;
}
.image-2{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 50px;
}